<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple nav</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Simple nav</h1>

	<ul class="menu">
							<li class="menu-item"><a href="#" class="menu-item-link">Menu item 01</a></li>

				<li class="menu-item"><a href="#" class="menu-item-link">Menu item 02 &gt;</a>
							<ul class="menu sub-menu">

										<li class="menu-item"><a href="#" class="menu-item-link">sub-menu item 01</a></li>
										<li class="menu-item"><a href="#" class="menu-item-link">sub-menu item 02</a></li>
										<li class="menu-item"><a href="#" class="menu-item-link">sub-menu item 03 &gt;</a>

														<ul class="menu sub-menu">

															<li class="menu-item"><a href="#" class="menu-item-link">sub-sub-item 01</a></li>
															<li class="menu-item"><a href="#" class="menu-item-link">sub-sub-item 02</a></li>
															<li class="menu-item"><a href="#" class="menu-item-link">sub-sub-item 03</a></li>
															
														</ul>

								</li>
							</ul>

		</li>
		<li class="menu-item"><a href="#" class="menu-item-link">Menu item 03</a></li>
		<li class="menu-item"><a href="#" class="menu-item-link">Menu item 04</a></li>
		<li class="menu-item"><a href="#" class="menu-item-link">Menu item 05</a></li>
	</ul>

</body>
</html>