<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple template structure</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="content-wrapper">
		<div class="header">
			This is header
		</div>
		<div class="sidebar">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ratione voluptate officiis beatae non. Provident nemo eligendi ea amet magni natus magnam, delectus quisquam maxime dolor debitis ipsam, obcaecati facilis.1000
		</div>
		<div class="content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, ratione ab veritatis sapiente dicta quia fuga. Quas voluptatum expedita optio delectus vero sunt, laborum maxime. Magnam recusandae omnis minima animi!2000
		</div>
	</div>
	<div class="footer">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, nisi.
	</div>
</body>
</html>