html, body {
	background: #ccc;
	font-size: 24px;
	margin: 0;
	font-family: "Segoe UI Light";
	color: #222;
	width: 800px;
	margin: 0 auto;
}

h1, h2, h3 {
	color: #333;
	text-align: center;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 1.5em;
}

#normal {
	font-variant: normal;
}

#small-caps {
	font-variant: small-caps;
}